################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GridMatchTest
/CrossStitchPatternReader/.vs/CrossStitchPatternReader/v16
/CrossStitchPatternReader/bin/x64/Debug
/CrossStitchPatternReader/obj
/CrossStitchPatternReader/packages
